h1,
p {
  font-family: Lato;
  font-size: 32px;
}

button {
  background-color: green;
  width: 160px;
  height: 80px;
  margin: 30px;
  font-size: 26px;
  border-radius: 30%;
}
button:hover {
  background-color: rgb(122, 122, 233);
}

.decreaser {
  background-color: brown;
}

.nullButton {
  background-color: darkorange;
}

.counter-button {
  background-color: blue;
  color: white;
}

.increase {
  background-color: darkslategray;
}

.decrease {
  background-color: black;
}
.reset {
  background-color: darkslateblue;
}
